@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome To Just Another Quiz</h1>
    <h2 class="display-4">Or for short JAQ</h2>
    <p class="">This is a Quiz Webapp Made With Asp.net. And has een API if anyone wants to acces de data
        Before You go ahead and discover what this has to offer, I suggest making an <a asp-area="Identity" asp-page="/Account/Register">account</a>.
        That way you can fully discover the page and play its Quizes.
    </p>
</div>
